body {
  margin: 0;
  animation: myanimation 19s infinite;
}

canvas {
  display: block;
  vertical-align: bottom;
}

a{
    position:relative;
    z-index:9999;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes myanimation {
  0% {background-color: #000000;}
  16% {background-color: #855988;}
  33%{background-color:#6B4984;}
  50% {background-color:#483475;}
  67% {background-color:#2B2F77;}
  84% {background-color: #141852;}
  100%{background-color: #070B34;}
}

#info {
  padding-top: 50%;
  padding-left: 80%;
  font-size: 12px;
  font-family: 'Avenir Next';
  color: #FFFFFF;
}
